#directions
  %h1
    The Directions
    %span.small How to Get Where You&rsquo;re Going

  %h2 Laurelwood is not properly found by GPS, Google Maps, and the like.
  %h2 Please use these directions instead.

  %ol
    %li Travel on I-24 towards downtown Chattanooga. Upon approach, take US Hwy 27 North.

    %li Exit on to US Hwy 127 towards Signal Mountain.

    %li Proceed straight on US Hwy 127 for approximately 18 miles, then turn right on to Horseshoe Road.

    %li Proceed 0.2 miles and take the first left on to Patton Road.

    %li After 2.4 miles, turn left at Laurelwood.

    %li Please drive slowly and carefully after turning into Laurelwood &mdash; it&rsquo;s a narrow gravel road.