<img class="mainPageImage" width="50%" src="/images/home.JPG" alt="Colin and Jessi are totally in love. It's true.">
<h1>Jessi &amp; Colin are getting married on September 8th, 2012!</h1>
<h2>Save the date!</h2>