#home
  = image_tag 'invite.jpg', title: "Colin and Jessi are totally in love. It's true.", alt: "", class: 'banner'
  %h1
    Join us September 8th, 2012 for the marriage of
    %span.big_name Jessica Kelly Peterson
    to
    %span.big_name Colin Lee Rymer