#registry
  %h1
    The Registry
    %span.small You Want to Get Us a Present? Thank You!
  %p To make it easier for you, we&rsquo;re registered at Amazon, Bed Bath &amp; Beyond, and Pottery Barn. You can visit them all online, or stop by a Pottery Barn or Bed Bath &amp; Beyond store.

  %span.button_first
    %a(href='http://www.amazon.com/gp/registry/registry.html?ie=UTF8&type=wedding&id=3MVCU7UAEIZ33') Amazon Registry

  %span.button_middle
    %a(href="http://www.potterybarn.com/registry/2970400/registry-list.html") Pottery Barn Registry

  %span.button_last
    %a(href="http://www.bedbathandbeyond.com/regGiftRegistry.asp?wrn=-1958256678&") Bed Bath &amp; Beyond Registry



