<div class="page-header">
  <h1>RSVP</h1>
</div>
<div id="rsvp-row" class="row">
  <div id="rsvp-content" class="span6">
    <p>
      Check back when you get your invitation to RSVP.
    </p>
  </div><!-- /rsvp-content -->
</div><!-- /rsvp-row -->