<form action="/rsvp" method="post">  
  <label for="name">
    Name:
    <input id="name" type="text" name="rsvp[name]" placeholder="First &amp; Last Name">
  </label>
  <label class="control-label" for="adult_number">Number of Adults
    <div class="control-group">
      <select id="adult_number" name="rsvp[adult_number]">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
  </label>
  <label class="control-label" for="child_number">Number of Children
    <div class="control-group">
      <select id="child_number" name="rsvp[child_number]">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
  </label>
  <input type="submit" value="RSVP!" class="btn">  
  </form> 