<div class="page-header">
  <h1>
    RSVP
    <small>Ready to Let Us Know You're Coming?</small>
  </h1>
</div>
<div id="rsvp-row" class="row">
  <div id="rsvp-content" class="span6">
    <p>
      Once you receive your invitation, you&rsquo;ll be able to RSVP.
    </p>
  </div><!-- /rsvp-content -->
</div><!-- /rsvp-row -->