<div class="page-header">
  <h1>
    The Story
    <small>How Colin Wooed Jessi</small>
  </h1>
</div>
<div id="story-row" class="row">
  <div id="story-content" class="span6">
    <p>In the fall of 2005, Jessi and Colin first met each other in the most romantic location at Vanderbilt University &mdash; chemistry lab. Unfortunately, circumstances prevented them from being together at the time, but it was clear that there was chemistry between the chem-lab partners. Colin even remarked to his parents that he knew she was the one he wanted to marry.</p>

    <p>Fast-forward to early 2009, when Colin and Jessi were debating the respective prizes for winning the NCAA Men&rsquo;s Basketball Tournament bracket competition (almost an annual tradition at this point); if Colin won, Jessi would come to Ducktown and go rafting with Colin, who was working as a raft guide during the summer <sup>1</sup>. Colin won, and Jessi arrived in Ducktown just before July 4<sup>th</sup>. Soon Jessi and Colin were traveling to and from Ducktown and Seymour to visit each other during the rest of the summer. That fall, Jessi joined Colin in living in Chattanooga, where they still reside.</p>

    <p>Christmas of 2011, Colin surprised Jessi with a ring and asked her to be his chemistry partner for the rest of their lives.</p>
    <hr class="story_hr"/>
    <p><sup>1</sup> Jessi would have won something as well, but history is written by the victor and the victor doesn&rsquo;t remember.</p>
  </div><!-- /story-content -->
</div><!-- /story-row -->