#wedding  
  %h1
    The Wedding
    %span.small Where You'll Be Joining Us

  %p Our wedding and reception venue is Laurelwood Farms in Signal Mountain, Tennessee.

  %p The wedding ceremony will begin at half past four o&rsquo;clock in the afternoon and be followed by a cocktail hour with light appetizers, drinks, bluegrass music, and yard games.

  %p The reception will commence at approximately six o&rsquo;clock in the evening and will include a buffet&ndash;style dinner and live music.

  %p Please view the #{link_to "Directions page", directions_path} of our website for directions to the venue, a contact number in case you get lost, and information about shuttles from downtown Chattanooga.