<div class="page-header">
  <h1>
    The Wedding
    <small>Where You'll Be Joining Us</small>
  </h1>
</div>
<div id="wedding-row" class="row">
  <div id="wedding-content" class="span6">
    <p>Our wedding and reception venue is Laurelwood Farms in Signal
    Mountain, Tennessee.</p>

    <!--<span style="color:purple;">(insert picture of laurel wood)<br/><br/></span>-->

    <p>The wedding ceremony will begin at half past four o&rsquo;clock in the
    afternoon and be followed by a cocktail hour with light appetizers,
    drinks, bluegrass music, and yard games.</p>

    <p>The reception will commence at approximately six o&rsquo;clock in the evening
    and will include a buffet&ndash;style dinner and live music.</p>

    <p>Please view the <%= link_to "Directions", direction_path %> page of our website for directions to the
    venue, a contact number in case you get lost, and information about
    shuttles from downtown Chattanooga.</p>
  </div><!-- /wedding-content -->
</div><!-- /wedding-row -->