#noog
  %h1
    The &rsquo;Noog
    %span.small Things to Do in the Scenic City
  %h2 
    Some of our favorite places in Chattanooga:
  %dl
    %dt
      %a(href="http://www.internationaltowingmuseum.org/")The Tow Truck Museum
    %dd
      Along with mini&ndash;golf, Chattanooga was the birthplace of the tow truck. Visit one of our favorite museums in Chattanooga and learn all you could want about towing.
    %dt
      %a(href="http://www.tnaqua.com/Home.aspx")The Tennessee Aquarium
    %dd
      With one of the largest freshwater exhibits in the United States and an entire separate building dedicated to ocean&ndash;life, including the penguins, the Tennessee Aquarium is a blast.
    %dt
      %a(href="http://www.huntermuseum.org/")The Hunter Museum of Art
    %dd
      Enjoy some culture at this museum which overlooks the Tennessee River and the NorthShore area. Close by are the Walnut Street walking bridge and the Bluff View Art District.
    %dt
      %a(href="http://www.nps.gov/chch/index.htm")Chickamauga Battlefield Park
    %dd
      Chattanooga is home to the largest National Military Park in the United States, and was host to multiple Civil War battles. Tour the fantastic Fuller gun collection at the Chickamauga visitor center or overlook Chattanooga from above at the Lookout Mountain visitor center.
    %dt
      %a(href="http://www.bluffviewartdistrict.com/")Bluff View Art District
    %dd
      Host to Houston Museum, a sculpture garden on the bluff, several great restaurants, and a great coffee shop, the Bluff View Art District is a great place to stroll about and relax.
    %dt
      %a(href="http://www.tvrail.com/")Tennessee Valley Rail Museum
    %dd
      Gaze at beautiful, old steam engines and even take a ride in an ex-Army steam locomotive at the Tennessee Valley Rail Museum.
    %dt
      %a(href="http://warehouserow.net/")Warehouse Row
    %dd
      If you&rsquo;re more of a shopper than a rail&ndash;buff, Warehouse Row will be right up your alley. If shopping isn&rsquo;t your bag, there are several great restaurants and bars that can easily occupy your time.
    %dt
      %a(href="http://www.chattanooga.gov/PRAC/30_CoodtdgePark.htm")Coolidge &amp; Rennaissance Park
    %dd
      Located in the NorthShore, Coolidge Park and neighbor Renaissance Park, with its famous hill surfing &mdash be sure to take a cardboard box, are great places to get out and enjoy being outside next to the Tennessee River.
    %dt
      %a(href="http://southsidechattanooga.org/")Southside Chattanooga
    %dd
      A fast&ndash;growing neighborhood located just south of downtown, the Southside has some great shops and amazing restaurants. 
    %dt
      %a(href="http://northshorechattanooga.com/")NorthShore Chattanooga
    %dd
      Just across the river from downtown, the NorthShore neighborhood has some wonderful dining, neat shops, and plenty of green spaces.
  %p
    While you&rsquo;re visiting the Chattanooga downtown, be sure to take advantage of the free #{link_to 'Electric Shuttle', 'http://gocarta.org/#shuttle'}.
