@import 'compass/reset';
@import 'sassy-buttons';
// @import 'curtain';
@import 'compass/layout/sticky-footer';

$text_color: black;
$h1_font_size: 3.2em; /* 32px/ 10px */
$h1_small_font_size: 0.75em; /* 24px/32px */


@include sticky-footer(66px, "#container", "#container_footer", "footer");

/* =Typography */
@media screen {

  body {
    font-size: 63.25%; /* 10px */
    font-family: Georgia, serif;
    color: $text_color
  }

  h1 {
    font-style: italic;
    font-weight: lighter;
    text-align: center;
  }

  h1#logo {
    font-size: 3.2em; /* 32px/10px */
  }

  nav ul li {
    font-size: 1.4em; /* 14px/10px */
    line-height: 1.6
  }
  footer {
    font-size: 1.2em; /* 12px/10px */
  }

  #story, #wedding, #registry, #rsvp, #party, #hotel, #noog, #directions {
    h1 {
      font-size: $h1_font_size;
      span.small {
        font-size: $h1_small_font_size;
        line-height: 1.8;
      }
    }

    p {
      font-size: 1.6em; /* 16px/10px */
      line-height: 1.4;
      padding-top: 10px;
      padding-bottom: 10px;
      text-indent: 1.5em;
      sup {
        vertical-align: top;
        font-size: 0.625em /* 10px/16px */
      }
    }
  }

  #home {
    h1 {
      font-size: 2.4em; /* 24px/10px*/
      line-height: 2;
      span.big_name {
        line-height: 0.5;
        padding-top: 0.25em;
        font-size: 1.333333333em; /* 32px/24px */
        &:last-child {
          padding-top: 0;
        }
      }
    }
  }

  #story {
    #story_copy p {
      padding-left: 20px;
      padding-top: 0;
      padding-bottom: 20px;
    }
    .footnote p{
      text-indent: 0;
      padding-top: 5px;
      padding-bottom: 20px;
    }
  }

  #party, #directions, #rsvp{
    h2 {
      font-size: 1.8em; /* 18px/10px */
    }
  }

  #party {
    h2 {
      font-weight: bold;
    }
  }

  #rsvp {
    fieldset.attending {
      span {
        font-size: 1.8em;
      }
    }
    input, label, a {
      font-size: 1.4em;
    }
  }

  #hotel {
    address {
      font-size: 1.6em; /* 16px/10px */
      strong a {
        font-size: 1.25em; /* 20px/16px */
        text-decoration: underline;
      }
    }
  }

  #noog {
    h2 {
      font-size: 2.0em; /* 20px/10px */
    }
    dl {
      dt {
        font-size: 1.6em; /* 16px/10px */
      }
      dd {
        font-size: 1.4em; /* 14px/10px */
      }
    }

    p {
     font-size: 1.6em; /* 16px/10px */ 
    }
  }

  #directions {
    li {
      font-size: 1.6em; /* 16px/10px */
      line-height: 1.2;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

/* =Layout */
@media screen {
  html, body {
    width: 100%;
  }

  body {
    background: image-url("bg_farmer.jpg");
    margin:0;
  }

  #container, footer {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  header{
    margin-top: 25px;
    margin-bottom: 10px;
  }

  h1#logo {
    display: inline;
  }

  nav {
    display: inline;
    float: right;
    margin-top: 10px;
    ul {
      display: inline;
      li {
        list-style: none;
        display: inline;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 1px;
        padding-top: 1px;
        border-right: 1px solid black;
        &:last-child {
          border-right: 0;
          padding-right: 0;
        }
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  footer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid white;
  }

  #story, #wedding, #registry, #rsvp, #party, #hotel, #noog, #directions {
    h1 {
      margin-top: 30px;
      margin-bottom: 30px;
      span.small {
        display: block;
      }
    }
  }

  #home {
    img.banner {
      max-width: 100%;
      height:auto;
      margin-top: 30px;
    }
    h1 {
      margin-bottom: 40px;

      span.big_name {
        display: block;
      }
    }
  }

  #story {
    #story_container {
      min-height: 460px;
    }
    #story_image {
      width: 50%;
      float: left;
      img {
        max-width: 100%;
      }
    }
    #story_copy {
      width:50%;
      float: right;
    }
  }

  #registry {
    span{
      width: 33.333333333%;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      &.button_first {
        float: left;
      }
      &.button_middle{
        width: 33%;
      }
      &.button_last, &.button_last a{
        float: right;
      }
    }
  }

  #rsvp {
    img {
      max-width: 100%;
    }
    .response {
      text-align: center;
    }
    span {
      margin-right: 20px;
    }

    h2, span {
      text-decoration: underline;
    }

    #rsvp_form div {
      margin-top: 20px;
    }

    input[type='submit'] {
      display: block;
      margin-top: 20px;
    }
  }

  #party {
    height: 400px;
    min-height: 400px;
    section {
      width: 50%;
    }
    #bridesmaids {
      float:left;
    }
    #groomsmen {
      float: right;
      // text-align: right;
      // p {
      //   padding-right: 20px;
      // }
    }
  }

  #hotel {
    address {
      margin-top: 20px;
      margin-bottom: 20px;
      span {
        display: block;
      }
    }

    section.left, section.right {
      width: 50%;
    }


    section.left {
      float: left;
    }

    section.right {
      float: right;
    }
  }

  #noog {
    h2 {
      padding-top: 15px;
      padding-bottom: 5px;
      border-bottom: 2px solid white;
      margin-bottom: 10px;
    }

    dd {
      margin-left: 15px;
      margin-bottom: 10px;
      margin-top: 3px;
    }

    p {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  #directions {
    h2 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    ol {
      list-style: decimal;
      margin-left: 25px;
    }
  }
}

/* =Color */
@media screen {
  nav ul li a {
    color: $text_color;
  }

  #registry{
    a {
      @include sassy-button("simple", 10px, 19px, #4ba3cc);
    }
  }

  #rsvp {
    input[type='submit'] {
      @include sassy-button("simple", 10px, 19px, #1B84B6);
      display: block; /* added to override sassy button styling */
    }
  }

  #hotel {
    address strong a {
      color: black;
    }
  }
}