<div class="page-header">
  <h1>
    The Accommodations
    <small>Places to Rest Before &amp; After Celebrating</small>
  </h1>
</div>
<div id="hotels-row" class="row">
  <div id="hotels-content" class="span6">
    <p>For your convenience, a block of rooms has been held at the following hotels under the &ldquo;Peterson/Rymer Wedding.&rdquo; In order to receive the discounted rate, rooms must be booked by August 7<sup>th</sup>.</p>
    <address>
      <strong>The Doubletree Hotel Chattanooga</strong><br />
      <!-- (insert picture)<br /> -->
      $109.00<br/>
      To book:<br />
      423-756-5150<br />
      Or <a href="http://doubletree.hilton.com/Chattanooga">online</a><br />
    </address>
    <address>
      <strong>The Hampton Inn and Suites</strong><br />
      <!-- (insert picture)<br /> -->
      $119.00<br />
      <em>*Includes continental breakfast</em><br />
      To book:<br />
      423-693-0500<br />
      Or <a href="http://chattanoogadowntownsuites.hamptoninn.com">online</a><br />
    </address>
    <p>The hotels are across the street from each other and walking distance to several downtown Chattanooga attractions. Shuttles will run from the hotels to the wedding venue. Please check back for more information about the shuttle service.</p>
  </div><!-- /hotels-content -->
</div><!-- /hotels-row -->



