#hotel
  %h1
    The Accommodations
    %span.small Places to Rest Before &amp; After Celebrating

  %p
    For your convenience, a block of rooms has been held at the following hotels under the &ldquo;Peterson/Rymer Wedding.&rdquo; In order to receive the discounted rate, rooms must be booked by August 7
    %sup th
    \.
  %section.left
    %address
      %strong The Doubletree Hotel Chattanooga
      %span $109.00
      %span To book:
      %span 423-756-5150
      %span
        Or 
        %a(href="http://doubletree.hilton.com/en/dt/groups/personalized/C/CHACHDT-RYW-20120907/index.jhtml?WT.mc_id=POG")online
      %span Group Code: RYW
  %section.right
    %address
      %strong The Hampton Inn and Suites
      %span
        $119.00
        %em *includes continental breakfast
      %span To book:
      %span 423-693-0500
      %span
        Or
        %a(href="http://chattanoogadowntownsuites.hamptoninn.com")online
      %span Group Code: PRW
  %p The hotels are across the street from each other and walking distance to several downtown Chattanooga attractions. Shuttles will run from the hotels to the wedding venue. Please check back for more information about the shuttle service.
